{
	"minecraftd": {
		"logfile" : "",
		"history_length" : 10,
		"log_level" : "INFO",
		"servers" : [
			{
				"server_name" : "default",
                "server_config" : "/opt/minecraft/default/server.json"
			}
		]
	}
}
